<div class="animatedwrapper">
  <div class="dot dot--one"></div>
  <div class="corner-dot"></div>
  <div class="dot dot--two"></div>
  <div class="dot dot--three"></div>
</div>

<header>
  <h1>Hello, I'm Chiara.</h1>
  <h2>I'm a web developer.</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc purus erat, lobortis quis mattis eget, porttitor id sapien. Ut nec gravida tellus. Proin in tempus nisl, eget aliquet magna. Morbi a sapien lorem. Nam convallis sit amet ante at porta. Etiam non sagittis lorem.</p>
</header>

<main>
  <div class="static-dot"></div>
  <div class="projects">

    <div class="project-card">
      <div class="description">
        <h3 id="project-title">Book a Cook</h3>
        <p id="project-description">Book a Cook is an Airbnb-style app that connects culinary professionals with on-demand requests from customers and brings their business directly to their homes.</p>
      </div>
      <div class="screenshot">
        <a href="https://bookachef.herokuapp.com/"><img src="/images/BookaCook.png" alt="Book a Cook project" /></a>
      </div>
    </div>

    <div class="project-card">
      <div class="screenshot">
        <img src="/images/BookaCook.png" alt="Nicotine Derby project" />
      </div>
      <div class="description">
        <h3 id="project-title">Nicotine Derby</h3>
        <p id="project-description">A mobile-first application designed to help smokers reduce the number of cigarette smoked.</p>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="about-me">
      <h3>About me</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc purus erat, lobortis quis mattis eget, porttitor id sapien. Ut nec gravida tellus. Proin in tempus nisl, eget aliquet magna. Morbi a sapien lorem.</p>
      <a class="about-link" href="/about">About</a>
    </div>
    <div class="profile-pic">
      <img src="/images/profile_pic.jpg" alt="Profile Picture" />
    </div>
  </div>
</main>
