<div class="animatedwrapper">
  <div class="dot dot--one"></div>
  <div class="static-dot"></div>
  <div class="dot dot--two"></div>
  <div class="dot dot--three"></div>
</div>

<header>
<h1>Hello, I'm Chiara.</h1>
<h2>I'm a web developer.</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc purus erat, lobortis quis mattis eget, porttitor id sapien. Ut nec gravida tellus. Proin in tempus nisl, eget aliquet magna. Morbi a sapien lorem. Nam convallis sit amet ante at porta. Etiam non sagittis lorem.</p>
</header>

<main>

</main>
