.static-dot {
  --small-size: 500px;
  display: block;
  position: absolute;
  width: calc(var(--small-size) * 1.5);
  height: calc(var(--small-size) * 2);
  left: 0;
  top: 0;
  mix-blend-mode: soft-light;
  border-radius: var(--small-size);
  filter: blur(calc(var(--small-size) / 6));
  z-index: 1;
  background: rgb(18, 123, 243);
  background: linear-gradient(135deg, rgba(249,248,113,1) 28%, rgba(255,255,255,0) 99%);
}

.projects {
  position: relative;
  z-index: 2;
  padding: 3% 4%;
}

.project-card {
  display: flex;
  padding: 5% 0;
}

.screenshot img {
  width: 600px;
  height: 400px;
}

.description {
  padding: 3% 11% 2% 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#project-title {
  font-size: 5rem;
  padding-bottom: 6%;
  margin: 0;
  font-weight: 600;
  border-bottom: 1px solid #333;
}

#project-description {
  font-size: 1.5rem;
  padding: 5% 0;
  margin: 0;
  flex-grow: 1;
}

